<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div
            class="card-header card-header-danger d-flex justify-content-between align-items-center"
          >
            <h4 class="card-title mb-0">Store Information</h4>
          </div>

          <div class="card-body">
            <mat-card>
              <mat-card-content>
                <div class="row main-tab">
                  <!-- Outlet Name -->
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Store Number</mat-label>
                      <input matInput [value]="outlet?.id" readonly />
                    </mat-form-field>
                  </div>

                  <!-- Outlet Info -->
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Store Name</mat-label>
                      <input matInput [value]="outlet?.name" readonly />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row main-tab">
                  <!-- Outlet Name -->
                  <div class="col-md-8">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Address</mat-label>
                      <input matInput [value]="outlet?.address" readonly />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row main-tab">
                  <!-- Outlet Name -->
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Phone</mat-label>
                      <input matInput [value]="outlet?.phone" readonly />
                    </mat-form-field>
                  </div>

                  <!-- Outlet Info -->
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Time Zone</mat-label>
                      <input matInput [value]="outlet?.timeZone" readonly />
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div
            class="card-header card-header-danger d-flex justify-content-between align-items-center"
          >
            <h4 class="card-title mb-0">Store Operating Hours</h4>
          </div>

          <div class="card-body">
            <mat-card>
              <mat-card-content>
                <div class="row main-tab">
                  <!-- Outlet Name -->
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Opening Time </mat-label>
                      <input matInput [value]="outlet?.id" readonly />
                    </mat-form-field>
                  </div>

                  <!-- Outlet Info -->
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Closing Time</mat-label>
                      <input matInput [value]="outlet?.name" readonly />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row main-tab">
                  <!-- Goals Summary -->
                  <div class="col-md-8">
                    <mat-form-field
                      appearance="outline"
                      class="w-100 long-text-field"
                    >
                      <mat-label>Goals Summary</mat-label>
                      <textarea
                        matInput
                        [value]="outlet?.goalSummary"
                        readonly
                        rows="4"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div
            class="card-header card-header-danger d-flex justify-content-between align-items-center"
          >
            <h4 class="card-title mb-0">Dashboard KPI Goals</h4>
          </div>

          <div class="card-body">
            <mat-card>
              <mat-card-content>
                <div class="row main-tab">
                  <!-- Outlet Name -->
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Status</mat-label>
                      <input
                        matInput
                        [ngClass]="isOpenNow ? 'text-success' : 'text-danger'"
                        [value]="isOpenNow ? 'Open Now' : 'Closed'"
                        readonly
                      />
                    </mat-form-field>
                  </div>

                  <!-- Outlet Info -->
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Closing Time</mat-label>
                      <input matInput [value]="outlet?.name" readonly />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row main-tab">
                  <!-- Goals Summary -->
                  <div class="col-md-8">
                    <mat-form-field
                      appearance="outline"
                      class="w-100 long-text-field"
                    >
                      <mat-label>Goals Summary</mat-label>
                      <textarea
                        matInput
                        [value]="outlet?.goalSummary"
                        readonly
                        rows="4"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
