.main-tab{
    justify-content: center;
}

.long-text-field textarea.mat-input-element {
  height: 100px;
  resize: none; /* prevent manual resizing */
  padding-top: 8px;
  line-height: 1.4;
}

.long-text-field .mat-form-field-outline {
  border-radius: 8px;
}

.long-text-field .mat-form-field-label {
  color: #666;
}