#actionTh {
  width: 13%;
}

#outletBtn {
  text-align: right;
  margin-right: 2%;
}

.searchArea {
  border: 1px solid gray;
  padding: 1px;
  border-radius: 5px;
}

#addBtn{
  width: 10%; 
  background-color: yellow; 
  color: black; 
  font-size: 12px; 
  font-family: Georgia, 'Times New Roman', Times, serif; 
  min-width: 150px;
}
