<div class="logo">
  <strong><a href="#" class="simple-text" style="color: rgb(0, 0, 0); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Kaem Solutions</a></strong>
</div>

<div class="sidebar-wrapper">
  <ul class="nav">
    @for (menuItem of menuItems; track menuItem.title) {
      <!-- Parent Menu -->
      <li
        class="nav-item"
        [class.active-parent]="expanded === menuItem.title"
      >
        <a
          href="javascript:void(0)"
          class="nav-link main-item"
          (click)="menuItem.children ? toggleSubmenu(menuItem.title) : null"
          [routerLink]="!menuItem.children ? [menuItem.path] : null"
        >
          <div class="menu-left">
            <i class="material-icons">{{ menuItem.icon }}</i>
            <span class="menu-title">{{ menuItem.title }}</span>
          </div>

          @if (menuItem.children) {
            <i
              class="material-icons right-icon"
              [class.expanded]="expanded === menuItem.title"
            >
              {{ expanded === menuItem.title ? 'expand_less' : 'expand_more' }}
            </i>
          }
        </a>

        <!-- Submenu -->
        @if (menuItem.children && expanded === menuItem.title) {
          <ul class="submenu">
            @for (child of menuItem.children; track child.title) {
              <li
                class="submenu-item-list"
                [class.active]="isActiveChild(child.path!)"
              >
                <a class="nav-link sub-new-list" [routerLink]="[child.path]">
                  <i class="material-icons">{{ child.icon }}</i>
                  <span>{{ child.title }}</span>
                </a>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>

  <button class="logout" (click)="LogOut()" type="button">Logout</button>
</div>
